<ion-view view-title="Tim Bickmore">
  <ion-content>
    <div class="bar bar-header history-bar-header">
      <h1 class="title">My History</h1>
    </div>
    <!-- History List -->
    <ul class="list history-list">
      <li ng-repeat="history in histories" class="item">
        <a href="#/app/suggestions/{{history.suggestion.id}}" class="absolutely-full"></a>
        <div class="row">
          <div class="col col-67">
            <h3>{{history.suggestion.title}}</h3>
          </div>
          <div class="col">
            <!-- If no review, place a button for review -->
            <div ng-if="history.userRating" class="star-container history-star-container">
              <span ng-repeat="i in range(history.userRating) track by $index">
                <span class="icon ion-ios-star"></span>
              </span>
              <span ng-repeat="i in range(5 - history.userRating) track by $index">
                <span class="icon ion-ios-star-outline"></span>
              </span>
            </div>
            <button ng-if="!history.userRating"
                    ng-click="reviewSuggestion({{history.id}})"
                    class="button button-stable button-review">
              Review
            </button>
          </div>
        </div>
        <div class="row" ng-if="history.userReview">
          <div class="col">
            <p>{{history.userReview}}</p>
          </div>
        </div>
      </li>
    </ul>
  </ion-content>
  <!-- Review Popup -->
    <div class="review-popup" ng-if="showReviewPopup">
      <div class="review-popup" ng-click="closeReviewPopup()" style="z-index:0"></div>
      <div class="row first-row">
        <div class="col col-80 col-offset-10 review-body" ng-controller="ReviewCtrl">
          <h4 class="review-title center-text">Review This Place</h4>
          <form name="review-form" class="list" novalidate>
            <div class="list">
                <span class="input-label">Star Rating</span>

                <div class="row">
                  <button value="1" id="oneStarRating" class="ion-ios-star-outline" ng-click="reviewRatingClick(1)">
                  </button>

                  <button value="2" id="twoStarRating"class="ion-ios-star-outline" ng-click="reviewRatingClick(2)">
                  </button>

                  <button value="3" id="threeStarRating" class="ion-ios-star-outline" ng-click="reviewRatingClick(3)">
                  </button>

                  <button value="4" id="fourStarRating" class="ion-ios-star-outline" ng-click="reviewRatingClick(4)">
                  </button>

                  <button value="5" id="fiveStarRating" class="ion-ios-star-outline" ng-click="reviewRatingClick(5)">
                  </button>
                </div>

              <label class="item item-input item-stacked-label">
                <span class="input-label">Leave a text review (optional)</span>
                <textarea ng-model="newReview.userReview" placeholder="Loved this place!"></textarea>
              </label>
            </div>
            <input class="button button-block button-stable button-submit" type="submit" ng-click="submitReview(newReview)" value="Submit" />
          </form>
        </div>
      </div>
    </div>
</ion-view>
