<ion-view view-title="My History">
  <ion-content>

    <div class="list">
	    <a class="item item-thumbnail-left" href="#">
	      <img src="#">
	      <h2>Place 1</h2>
	      <p>Review text</p>
	    </a>

	    <a class="item item-thumbnail-left" href="#">
	      <img src="#">
	      <h2>Place 2</h2>
	      <p>Review text</p>
	    </a>

	    <a class="item item-thumbnail-left" href="#">
	      <img src="#">
	      <h2>Place 3</h2>
	      <p>Review text</p>
	    </a>

	    <a class="item item-thumbnail-left" href="#">
	      <img src="#">
	      <h2>Place 4</h2>
	      <p>Review text</p>
	    </a>

	    <a class="item item-thumbnail-left" href="#">
	      <img src="#">
	      <h2>Place 5</h2>
	      <p>Review text</p>
	    </a>

	    <a class="item item-thumbnail-left" href="#">
	      <img src="#">
	      <h2>Place 6</h2>
	      <p>Review text</p>
	    </a>

	    <a class="item item-thumbnail-left" href="#">
	      <img src="#">
	      <h2>Place 7</h2>
	      <p>Review text</p>
	    </a>

	    <a class="item item-thumbnail-left" href="#">
	      <img src="#">
	      <h2>Place 8</h2>
	      <p>Review text</p>
	    </a>
	</div>

  </ion-content>
</ion-view>
