<ion-view view-title="Welcome to One New Thing" hide-nav-bar="true">
  <ion-content class="full-height">
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
      <ion-slide>
        <div class="box">
          <h1>One New Thing.</h1>
          <p>Quickly find suggestions for places to go and activities to do.</p>
          <img class="onboarding-image" src="/img/phone-case.png"/>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box">
          <h1>Swipe.</h1>
          <p>Swipe in any direction to see a new suggestion.</p>
          <img class="onboarding-image" src="/img/phone-case.png"/>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box">
          <h1>I'm going.</h1>
          <p>Click I'm going to add a suggestion to your history.</p>
          <img class="onboarding-image" src="/img/phone-case.png"/>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box">
          <h1>Revisit and rate.</h1>
          <p>Revisit a suggestion and rate it from your history.</p>
          <img class="onboarding-image" src="/img/phone-case.png"/>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box">
          <h1>Enjoy.</h1>
          <button class="button button-block button-stable" ng-click="endSlideShow()">Enter</button>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
