<ion-view view-title="Reviews">
  <ion-content>
    <div class="bar bar-header review-bar-header">
      <h1 class="title">Reviews</h1>
    </div>
    <ul class="list review-list">
      <li ng-repeat="review in reviews" class="item">
        <div class="row">
          <div class="col">
            <h4>{{review.reviewer}}</h4>
            <div class="star-container">
              <span ng-repeat="i in range(review.rating) track by $index">
                <span class="icon ion-ios-star"></span>
              </span>
              <span ng-repeat="i in range(5 - review.rating) track by $index">
                <span class="icon ion-ios-star-outline"></span>
              </span>
            </div>
          </div>
          <div class="col">
            <h4 style="text-align:right;">{{review.timestamp}}</h4>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>{{review.review}}</p>
          </div>
        </div>
      </li>
    </ul>
  </ion-content>
</ion-view>
