<header>
  <a id="filters" onclick="toggleSlideFilterMenu()">Filters</a>
  <h2 id="header_title">One New Thing</h2>
  <a id="my_history" href="/history">My History</a>
</header>

{{!-- Filter Menu Elements --}}
<div id="filter_menu"></div>
<div id="filter_background" onclick="toggleSlideFilterMenu()"></div>

{{!-- Card Elements --}}
<div class="cards-container"></div>