<header>
  <a id="filters" onclick="toggleSlideFilterMenu()">Filters</a>
  <h2 id="header_title">One New Thing</h2>
  <a id="my_history" href="/history">My History</a>
</header>

<div id="filter_menu"></div>

<script src="/javascripts/filters_menu.js"></script>
