.history-star-container {
  width: 90px;
  float: right;
}

.button-review {
  min-height: 20px;
  line-height: 16px;
  font-size: 14px;
  float: right;
}

.absolutely-full {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}
