/* Empty. Add your own CSS if you like */
.center-text {
	text-align: center;
}

.filter-item {
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0 auto;
	margin-top: .2rem;
	margin-bottom: .2rem;
}

h2.filter-heading {
	text-align: center;
	margin-bottom: .2rem;
	padding-bottom: .2rem;
}

.rating-filter {
	margin: 0;
}

.wide-item {
	padding-left: 0px;
	padding-right: 0px;
}

.absolute-center {
	position: absolute;
	z-index: 1;
	text-align: center;
	width: 100%;
	top: 50%;
}

.review-bar-header, .history-bar-header {
  position: relative !important;
}

.review-list, .history-list {
  margin-top: -1px;
}

.review-list p, .history-list p {
  text-overflow: initial;
  white-space: initial;
}

.review-list li, .history-list li {
  padding: 0px;
}

p {
  font-size: 12px;
  line-height: 17px;
}
