/* Empty. Add your own CSS if you like */

.absolute-center {
	position: absolute;
	z-index: 1;
	text-align: center;
	width: 100%;
	top: 50%;
}

.review-bar-header, .history-bar-header {
  position: relative !important;
}

.review-list, .history-list {
  margin-top: -1px;
}

.review-list p, .history-list p {
  text-overflow: initial;
  white-space: initial;
}
