/* Empty. Add your own CSS if you like */

.absolute-center {
	position: absolute;
	z-index: 1;
	text-align: center;
	width: 100%;
	top: 50%;
}

td-cards {
  display: block;
}

td-card {
  position: absolute;
  left: 50%;
  margin-top: 60px;
  margin-bottom: 40px;
  margin-left: -47%;
  width: 94%;
  height:85%;

  border: 1px solid #999;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
  border-radius: 6px;
  background: white;
}
/*
td-card.card-0 {
  -webkit-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0);
  top: 0px;
  z-index: 10;
}
td-card.card-1 {
  -webkit-transform: translate3d(0, 4px, 0);
  transform: translate3d(0, 4px, 0);
  z-index: 9;
}
td-card.card-2 {
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0);
  z-index: 8;
}
*/

td-card .image {
  position: relative;
}

td-card img {
  max-width: 100%;
  border-radius: 6px;
}

.yes-text {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
  color: rgb(111, 250, 111);
  opacity: 0;
}
.no-text {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: rgb(255, 115, 115);
  opacity: 0;
}

.fade {
  -webkit-transition: 0.2s opacity linear;
  transition: 0.2s opacity linear;
  opacity: 0;
}

.tag {
  float:left;
  border:1px solid;
  margin-right:4px;
  padding:2px;
  border-radius:2px;
  border-color:rgba(0,0,0,0.15);
  background-color:rgba(0,0,0,0.03)
}
